@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
body{
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #FFFFFF;
}
header{
    display:flex;
    align-items: center;
    padding: 15px 40px;
    height: 63px;
    width: auto;
    background-color: #FFFFFF;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size:22px;
    font-weight: bold;
}
.logo image{
    height:28px;
    width:28px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap:25px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}
nav li {
    margin-right: 20px;
}
nav  a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    padding-bottom: 4px;
    cursor: pointer;
}
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #212331;
    transition: width 0.5s ease;
}
nav a:hover::after {
    width: 100%;
}
nav a.active::after {
    width: 100%;
}
nav button {
    background-color: #1E1F26;
    color: #FFFFFF;
    border-radius: 1000px;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
}
